fastapi
uvicorn
pymupdf
python-docx
sentence-transformers
keybert
transformers
torch
datasketch
nltk
python-multipart
psycopg2-binary
pgvector
python-dotenv
passlib[bcrypt]
bcrypt<4.1.0
PyJWT
matplotlib
raid-bench
